P008 数值离散化-等宽区间

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(data={'weight': [75., 78.5, 85., 91., 84.5, 83., 68.]})

In [3]:
df

   weight
0    75.0
1    78.5
2    85.0
3    91.0
4    84.5
5    83.0
6    68.0

In [4]:
df["weight_cut"] = pd.cut(df["weight"], bins=3)

In [5]:
df

   weight        weight_cut
0    75.0  (67.977, 75.667]
1    78.5  (75.667, 83.333]
2    85.0    (83.333, 91.0]
3    91.0    (83.333, 91.0]
4    84.5    (83.333, 91.0]
5    83.0  (75.667, 83.333]
6    68.0  (67.977, 75.667]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   weight      7 non-null      float64
 1   weight_cut  7 non-null      category
dtypes: category(1), float64(1)
memory usage: 351.0 bytes

P009 数值离散化-指定区间

In [8]:
df["weight_cut"] = pd.cut(df["weight"], bins=[60, 75, 80, 95])

In [9]:
df

   weight weight_cut
0    75.0   (60, 75]
1    78.5   (75, 80]
2    85.0   (80, 95]
3    91.0   (80, 95]
4    84.5   (80, 95]
5    83.0   (80, 95]
6    68.0   (60, 75]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   weight      7 non-null      float64
 1   weight_cut  7 non-null      category
dtypes: category(1), float64(1)
memory usage: 351.0 bytes

P010 数值离散化-区间标签

In [11]:
df["weight_cut"] = pd.cut(df["weight"], bins=[60, 75, 80, 95], labels=["light", "normal", "heavy"])

P011 数值离散化-虚拟编码

In [13]:
df['weight_cut'] = pd.cut(df['weight'], bins=(60, 75, 80, 95), labels=['light', 'normal', 'heavy'])

In [14]:
df

   weight weight_cut
0    75.0      light
1    78.5     normal
2    85.0      heavy
3    91.0      heavy
4    84.5      heavy
5    83.0      heavy
6    68.0      light

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   weight      7 non-null      float64
 1   weight_cut  7 non-null      category
dtypes: category(1), float64(1)
memory usage: 327.0 bytes

In [16]:
df = pd.get_dummies(df)

In [17]:
df

   weight  weight_cut_light  weight_cut_normal  weight_cut_heavy
0    75.0              True              False             False
1    78.5             False               True             False
2    85.0             False              False              True
3    91.0             False              False              True
4    84.5             False              False              True
5    83.0             False              False              True
6    68.0              True              False             False